.reddit-sort-type,
.reddit-sort-type:hover,
.reddit-sort-type:active {
  border-radius: 8px;
  padding: 10px 20px;
  background: var(--bs-tertiary-bg);
  color: var(--bs-body-color);
  border: 1px solid var(--bs-border-color);
  cursor: default;
}

.reddit-sort-wrap .dropdown-menu {
  border: 1px solid var(--bs-border-color);
  box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
  font-size: 15px;
  line-height: 30px;
  top: 3px;
}

.reddit-sort-wrap .dropdown-menu button {
  cursor: pointer;
  box-shadow: none;
  outline: none;
}
